$myFont: Montserrat,
Helvetica,
sans-serif;

:root {
  --bgcolor: #fef8f8;
  --header-color: #821d30;
  --top-color: #F79489;
}

#home-container {
  margin-left: auto;
  margin-right: auto;
  font-family: $myFont;
  background-color: var(--bgcolor);
  height: 100vh;
  width: 100vw;
  text-align: left;

  #home-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  header {
    color: var(--header-color);
    font-weight: bold;
    font-size: 1.98818rem;
    margin-bottom: 30px;
  }

  .top a {
    color: var(--top-color);
  }

  #personal-info {
    font-family: $myFont;
    font-size: 14px;
    font-weight: normal;
    width: 50%;

    a {
      color: var(--header-color);
    }
  }

  #personal-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  .social-link-left {
    font-size: 20px;
    padding-right: 30px;
  }

  .social-link-right {
    font-size: 20px;
    padding-left: 330px;
  }

  .top {
    margin-bottom: 35px;
  }

}