$myFont: Montserrat, Helvetica, sans-serif;

:root {
  --bgcolor: #fef8f8;
  --header-color: #821d30;
  --top-color:#F79489;
}
#home-container {
  font-family: $myFont;
  background-color: var(--bgcolor);
  height: 100vh;
  width: 100vw;
  text-align: left;
  header {
    color: var(--header-color);
    font-weight: bold;
    font-size: 20px;
  }
  .top a{
    color : var(--top-color);
  }
}
